@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*menu desktop*/
body {
    background-image: url(../imagens/background.png);
    background-repeat: no-repeat;
    height: 100vh;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.interface {
    background-color: rgba(0, 0, 0, 0.534);
    margin: 0;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    transition: .2s;
}
header nav.menu-desktop a:hover {
    color: #780116;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    font-size: 20px;
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #780116;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px black;
    transform: scale(1.05);
}
.container-text {
    padding: 200px 0 0 130px;
}

.text h1 {
    color: white;
    font-size: 40px;
}
.text p {
    color: white;
    margin-top: 10px;
    font-size: 20px;
}
/*sobre mim*/
section.topo-do-site {
    background-color: #fbfefb;
    padding: 40px 4%;
    margin-top: 700px;
}
section.topo-do-site .flex {
    display: flex;
    justify-content:center;
    gap: 150px;

}
.img-top-site img {
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 8px black;
    border-radius: 8px;
    
    
}
.topo-do-site h1 {
    text-align: center;
    color:black;
    font-size: 40px;
    line-height: 40px;
}

.topo-do-site p {
    margin: 20px 0 20px 0;
    text-align: justify;
    
}
.topo-do-site a {
    cursor: pointer;
    color: #780116;
    margin-left: 20px;
    font-size: 40px;
    transition: .2s;
}
section a:hover {
    color: #780116;
}

section.container-foto {
    display: flex;
    padding: 40px 150px;
    background-color: rgb(26, 25, 25);
}

.ajudar {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    color: white;

}

.ajudar > h1 {
    font-size: 40px;
}
/*como vou te ajudar*/
section.slider{
    background-image: linear-gradient(to right, #343336, #141414);
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider h1 {
    font-size: 40px;
    margin-top: 20px;
    color: white;
    text-align: center;

}
.slider p {
    color: white;
    text-align: center;
    padding: 10px 150px;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, .img-mobile{
    display: none;
}
.slider-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.legenda{
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    position: absolute;
    bottom: 7px;;
}
.legenda p {
    padding: 10px 150px;
    text-align: center;

}
.legenda h3 {
    font-size: 40px;
    font-weight: 800;
}
.slider-box img{
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: #780116;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #780116;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


/*como vou te ajudar*/
    
.imag {
    display: flex;
    padding-top: 60px;
    justify-content: space-around;
}


.imag .emagre {
    color: black;
    font-size: 30px;
    background-color: white;
    padding: 5px 5px 70px 5px;
    border-radius: 8px;
}

.imag .hiper {
    color: black;
    font-size: 30px;
    background-color: white;
    padding: 5px 5px 70px 5px;
    border-radius: 8px;
}
.imag .define {
    color: black;
    font-size: 30px;
    background-color: white;
    padding: 5px 5px 70px 5px;
    border-radius: 8px;
}
.emagre > p {
    width: 290px;
    text-align: justify;
    font-size: 15px;
}
.hiper > p {
    width: 290px;
    text-align: justify;
    font-size: 15px;
}
.define > p {
    width: 290px;
    font-size: 15px;
}

/*fim como vou te ajudar*/

/*começo planos*/
section.cont-valores {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    color: black;
}

.cont-valores > h1 {
    background-color: #fbfefb;
    margin-top: 60px;
    font-size: 40px;
    text-align: center;
}
.cont-valores {
    background-color:#fbfefb ;
}
.valores {
    display: flex;
    padding: 40px 150px;
    padding-top: 60px;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.diario {
    width: 350px;
    min-height: 565px;
    margin-top: 63px;
    border: 1px solid black;
    border-radius: 8px;
    transition: 1s;
}

.diario:hover {
    box-shadow: 0px 0px 8px black;
    transform: scale(1.05);
}
.mensal {
    background-color: #780116;
    width: 350px;
    min-height: 565px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px black;
    transition: 1s;
}

.mensal:hover {
    box-shadow: 0px 0px 8px black;
    transform: scale(1.05);
}
.semanal {
    width: 350px;
    min-height: 565px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 8px;
    transition: 1s;
}

.semanal:hover {
    box-shadow: 0px 0px 8px black;
    transform: scale(1.05);
}

.diario li {
    padding: 5px 10px 45px 10px;
}

.mensal li {
    color: #fbfefb;
    padding: 5px 10px 15px 10px;
}


.semanal li {
    padding: 5px 10px 20px 10px;;
}
.valores .mensal > h2 {
    text-align: center;
    color: #fbfefb;
    font-size: 40px;
}

.valores .diario > h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.valores .semanal > h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
}
.btn-contato-preto button {
    color: white;
    padding: 10px 40px;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
/*fim planos*/
/*começo alunos*/
section.alunos h1 {
    text-align: center;
    color: white;
    background-color: #343336;
    font-size: 40px;
}
.slider2 {
    background-color: #343336;
    height: 660px;
    margin: 0;
    display: grid;
    grid-template-rows: 590px 70px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    justify-items: center;
}

.item img {
    width: 220px;
    height: 320px;
    border-radius: 8px;
    margin-top: 15px;
}
.nome {
    margin-bottom: 2px;
    color: #780116;
}
.ocupacao {
    font-style: italic;
    margin-top: 2px;
}

#alunos {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 99vw;
    height: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}
div.item {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    width: 300px;
    height: 550px;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
div.item:nth-of-type(1) {
    --offset:1;
}
div.item:nth-of-type(2) {
    --offset:2;
}
div.item:nth-of-type(3) {
    --offset:3;
}
div.item:nth-of-type(4) {
    --offset:4;
}
div.item:nth-of-type(5) {
    --offset:5;
}
input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ #alunos{
    --position:1;
}
input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ #alunos{
    --position:2;
}
input:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ #alunos{
    --position:3;
}
input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ #alunos{
    --position:4;
}
input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ #alunos{
    --position:5;
}
/*fim alunos*/
/*formulario*/
section.fala-comigo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fbfefb;
}
.contact-container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    background: #343336;
    box-shadow: 0px 0px 8px black;
    border-radius: 5px;
    overflow: hidden;
}

.form-container {
    padding: 20px;
}

.form-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-form {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    outline: none;
    background: #ffffff;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 0.4rem;

}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form .send-button {
    border: none;
    outline: none;
    background: #780116;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}
.contact-form .send-button:hover {
    box-shadow: 0px 0px 8px black;
    transform: scale(1.05);
}

.map iframe {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 950px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }
    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
    .contact-container {
        margin: 0 auto;
        width: 90%;
    }
}
@media screen and (max-width: 700px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 5rem !important;
    }
    .map iframe {
        height: 400px;

    }
}